Source: marytts
Section: sound
Priority: optional
Maintainer: Giulio Paci <giulio.paci@mivoq.it>
Build-Depends: cdbs,
 devscripts,
 debhelper (>= 9~),
 dh-buildinfo,
 dpkg-dev (>= 1.16.1~), openjdk-7-jdk, maven, dh-systemd (>= 1.5)
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/marytts.git;a=summary
Vcs-Git: git://anonscm.debian.org/collab-maint/marytts.git
Homepage: http://mary.dfki.de/

Package: marytts
Architecture: all
Provides: marytts-server
Depends: ${misc:Depends}, openjdk-7-jre
Description: test-to-speech synthesis server
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package includes the MaryTTS RESTFUL server.

Package: marytts-voice-en-cmu-slt-hsmm
Architecture: all
Depends: ${misc:Depends}, marytts-lang-en
Description: English speaker for MaryTTS
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the speaker modules required to synthesize speech in
 English.
 
Package: marytts-lang-de
Architecture: all
Depends: ${misc:Depends}, marytts
Description: marytts modules for German language
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the modules required to synthesize speech in
 German.

Package: marytts-lang-en
Architecture: all
Depends: ${misc:Depends}, marytts
Description: marytts modules for English language
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the modules required to synthesize speech in
 English.

Package: marytts-lang-fr
Architecture: all
Depends: ${misc:Depends}, marytts
Description: marytts modules for French language
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the modules required to synthesize speech in
 French.

Package: marytts-lang-it
Architecture: all
Depends: ${misc:Depends}, marytts
Description: marytts modules for Italian language
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the modules required to synthesize speech in
 Italian.

Package: marytts-lang-ru
Architecture: all
Depends: ${misc:Depends}, marytts
Description: marytts modules for Russian language
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the modules required to synthesize speech in
 Russian.

Package: marytts-lang-sv
Architecture: all
Depends: ${misc:Depends}, marytts
Description: marytts modules for Swedish language
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the modules required to synthesize speech in
 Swedish.

Package: marytts-lang-te
Architecture: all
Depends: ${misc:Depends}, marytts
Description: marytts modules for Telugu language
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the modules required to synthesize speech in
 Telugu.

Package: marytts-lang-tr
Architecture: all
Depends: ${misc:Depends}, marytts
Description: marytts modules for Turkish language
 MaryTTS is an open-source, multilingual Text-to-Speech Synthesis
 platform written in Java.
 .
 This package provides the modules required to synthesize speech in
 Turkish.

